<div class="lateral-izquierdo-container">
  <h3 style="text-align: center;">Categorías</h3>
  <ul class="categorias-lista">
    <li><a routerLink="/producto" (click)="mostrarTodos()">Mostrar Todos</a></li>
    <li *ngFor="let categoria of listCategorias">
      <a  routerLink="/producto" (click)="filtrarPorCategoria(categoria)">{{categoria}}</a>
    </li>
  </ul>
<br>
<br>
  <h5>Ordenar por:</h5>

  <div class="ordenar-opciones">
    <label><input type="radio" name="ordenar" value="asc" (change)="cambiarOrdenacion('asc')"> A-Z</label>
    <label><input type="radio" name="ordenar" value="desc" (change)="cambiarOrdenacion('desc')"> Z-A</label>

  </div>
<br>
<br>
  <h5>Filtrar por Precio</h5>
  <div class="filtro-precio">
    <label for="rango-precio">Rango de Precio:</label>
    <input type="range" id="rango-precio" name="rango-precio" min="1" max="100" step="1" value="100" [(ngModel)]="valorRango" (input)="actualizarValorPrecio()">
    <span id="valor-precio">0€ - {{ valorRango }}€</span>
  </div>
</div>

