body,html {
    display: flex;
    margin: 0;
    height: 100%;
  }
  app-latizquierdo {
    flex: 0 0 100px;
    margin-right: 100px;
  }

  app-header, app-footer {
    width: 100%;
  }
  .main-container{
    display: flex;
    height: 100%;
  }
  .router-outlet-container{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
