<div class="login-container">
  <h2 class="login-title">Usuario</h2>
  <div class="login-form">
    <ul>
      <ul>
      <li >
        <div>
            <p>Nombre: {{ usuario.nombre }}</p>
        </div>
      </li>
      </ul>
      <ul>
        <li>
          <div>
            <p>Correo: {{ usuario.email }}</p>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div>
            <p>Direccion: {{ usuario.direccion }}</p>
          </div>
        </li>
      </ul>
      

    </ul>
    <button routerLink="/miscompras" (click)="miscompras()" >Mis Compras</button>
    <button (click)="logout()" routerLink="/usuarios/login" >Cerrar Session</button>
  </div>
</div>
