
.titulo {
    font-size: 1.5rem;
    font-weight: bold;
}

.container- {
    margin-top: 40px;
    margin-right: 500px; /* Ajusta el margen derecho según tus necesidades */
}

.card {
    margin-top: 20px;
    margin-right: 500px; /* Ajusta el margen derecho según tus necesidades */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 950px;
}

.btn-success {
    margin-top: 10px;
}

.table {
    margin-right: 500px;
    width: 900px;
}

.fa-solid {
    cursor: pointer;
    margin-left: 7px;
}

.fa-solid:hover {
    opacity: 0.8;
}

.text-danger {
    color: #dc3545;
}
