
<!-- finalizarcompra.component.html -->

<div class="container">
    <h2>Resumen de la Compra</h2>
  
    <div *ngIf="carrito.items.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of carrito.items">
            <td>{{ item.producto.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.producto.precio}}€</td>
            <td>{{ item.producto.precio*item.cantidad }}€</td>
          </tr>
        </tbody>
      </table>
  
      <div>
        <p>Total: {{ carrito.precioTotal}}€</p>
        <button (click)="agregarCarrito()" routerLink="/producto">Finalizar Compra</button>
      </div>
    </div>
  
    <div *ngIf="carrito.items.length === 0">
      <p>El carrito está vacío.</p>
    </div>
  </div>
  
