<!-- header.component.html -->

<header>
  <a [routerLink]="['/']" class="logo">
    <img src="assets/LogoBalloon.png" alt="Logo Balloon">
  </a>
  

  <div class="user-cart-icons">
    <i class="fas fa-user" (click)="toggleLogin()"></i>
    <i class="fas fa-shopping-cart" (click)="toggleCarrito()"></i>
  </div>
</header>

<app-login *ngIf="showLogin" (onRegisterClick)="onRegisterClick()"></app-login>
<app-register *ngIf="showRegister" (onLoginClick)="onLoginClick()"></app-register>
<app-carrito *ngIf="showCarrito"></app-carrito>
