<div class="container">
    
    <div class="details">
        <div class="titulo">LOGIN</div>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="input-container">
                <label>Email</label>
                <div>
                    <input type="email" placeholder="Email" formControlName="email"/>
                </div>
                <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                    <div *ngIf="fc.email.errors.required">No puede estar vacio</div>
                    <div *ngIf="fc.email.errors">El email no es correcto</div>
                </div>

            </div>
            <div class="input-container">
                <label>Password</label>
                <div>
                    <input type="password" placeholder="Password" formControlName="password"/>
                </div>
                <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                    <div *ngIf="fc.password.errors.required">La password no puede estar vacia</div>
                </div>
            </div>
            <div class="button">
                <button type="submit" >Login</button>
                <button  routerLink="/usuarios/register">Registrarse</button>
            </div>

        </form>
    </div>
</div>
