<div class="lateral-izquierdo-container">
  <h5>Categorías</h5>

  <!-- Lista de Categorías -->
  <ul class="categorias-lista">
    <li><a href="#">Americana</a></li>
    <li><a href="#">Árabe</a></li>
    <li><a href="#">Española</a></li>
    <li><a href="#">Italiana</a></li>
    <li><a href="#">Asiática</a></li>
  </ul>
<br>
<br>
<h5>Etiquetas:</h5>

<!-- Lista de Categorías -->
<ul class="categorias-lista">
  <li><a href="#">Comida Rápida</a></li>
  <li><a href="#">Pizza</a></li>
  <li><a href="#">Lunch</a></li>
  <li><a href="#">Breakfast</a></li>
  <li><a href="#">Soup</a></li>
</ul>
<br>
<br>
  <h5>Ordenar por:</h5>

  <div class="ordenar-opciones">
    <label><input type="radio" name="ordenar" value="asc"> A-Z</label>
    <label><input type="radio" name="ordenar" value="desc"> Z-A</label>
  </div>
<br>
<br>
  <h5>Filtrar por Precio</h5>

  <!-- Filtro de Precio -->
  <div class="filtro-precio">
    <label for="rango-precio">Rango de Precio:</label>
    <input type="range" id="rango-precio" name="rango-precio" min="0" max="100" step="10" value="50" oninput="actualizarValorPrecio(this.value)">
    <span id="valor-precio">0€ - 100€</span>
</div>
</div>

<script>
  function actualizarValorPrecio(valor) {
      // Actualiza el span con el valor del rango de precio
      document.getElementById("valor-precio").innerText = `0€ - ${valor}€`;
  }
</script>
