/* latderecho.component.css */

.latderecho-container {
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 100%;
  top: 0;
  right: 0;
  overflow-y: auto;
}

.ultimos-productos {
  display: flex;
  flex-direction: column;
}

.producto-container {
  margin-bottom: 20px;
}

.producto-link {
  text-decoration: none;
  color: #e72929;
}

.producto {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 8px;
  overflow: hidden;
}

img {
  object-fit: cover;
  width: 100%;
  height: 14.5rem;
}

.content {
  padding: 10px;
}

.name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tags span{
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}


.precio {
  background: #f2f2f2;
  padding: 0.3rem 0.5rem;
  color: black;
  font-size: 1.1rem;
}

.categoria {
  font-size: 0.9rem;
  text-align: right;
  flex: 3;
}
