<div class="register-container">
  <h2 class="register-title">Registro</h2>
  <form class="register-form">
    <input type="text" class="register-input" placeholder="Nombre de Usuario">
    <input type="email" class="register-input" placeholder="Correo Electrónico">
    <input type="password" class="register-input" placeholder="Contraseña">
    <button type="button" class="register-button" (click)="register()">Registrar</button>
    <br>
    <button type="button" class="register-button" (click)="loginClick()">Iniciar Sesión</button>
  </form>
</div>
